body
  background-color: gray

palette, colors
  display: block

palette
  > textarea
    display: none

  > button.apply
    display: none

  &.edit
    > colors
      display: none
    > textarea
      display: block
    > button.apply
      display: initial
    > button.edit
      display: none

colors > color
  display: inline-block
  height: 16px
  width: 16px

#modal
  > input[type=file]
    padding: 2em

section.filters 
  padding-right: 1em
  max-width: 400px

  > section
    display: flex
    
    > h2
      align-self: center
      display: inline-block
      font-size: 1em
      margin: 0 1em 0 0
      text-align: right
      width: 100px

    > input
      &[type="range"]
        flex: 1

      &[type="number"]
        text-align: right
        width: 60px

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button
  margin-left: 0.5em
